
/* prevents padding & borders from increasing secretly */
*, *::before, *::after {
    box-sizing: border-box;
}

/* no scrolling horizontally teehee */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


*{
    padding: 0;
    margin: 0;
}

span{
    color: #ee840c;
}

h1{
    color:#08244c;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: clamp(2.5rem, 8vw, 5.5rem);
}

p{
    color:#1f282e;
}

a{
    color: aliceblue;
    text-decoration: none;
}

body {
    background-color:#eff6f1;
    background-size: cover;
    
    
}

h2{
    color:#1e3988;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size:1.5rem;
    font-style: italic;
}

h3{
    font-family: Century Gothic, Helvetica, sans-serif;
    color:#1f282e;
    font-size:1.45rem;
    font-style: italic;
}

code{
    background-color:#1f282e;
    border:solid 1px;
    border-color:azure;
    border-radius: 3px;
    line-height:5px;
    font-family: 'Courier New', Courier, monospace;
    
}

table, th, td{
    margin: auto;
    border: 3px solid;
    padding: 1rem;
    border-radius: 4px;
    text-align: left;
    color:aliceblue;
    font-family: Century Gothic, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    width:100%;
}

tr:nth-child(odd) {background-color:#1f3455}

th{
    background-color: #08244c;
}

th, td{
    padding:1rem;
    max-width:8rem;
}

.navbar-rec{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background:#08244c;

    position:fixed;
    top:0;
    left:0;
    z-index:0;
}

.logo{
    width: 65px;
    height: auto;
    padding: 20px 10px;
}

#div-left{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#abt-body-h1{
    color:#1e3988;
    padding: clamp(3.25rem,2.5vw,6rem);
    font-size: clamp(2.5rem,8vw,5.5rem);
}

#past-body-h1{
    margin: 0;
    padding-top: 3.25rem;
    padding-bottom: 1.01rem;
    padding-left: 0;
    max-width: 40rem;
    text-align: center;
    
}

#future-body-h1{
    color:#08244c;
    margin: 0;
    padding-top: 3.25rem;
    padding-left: 0;
    max-width: 40rem;
    text-align: center;
    
}

#comments-h1{
    color:#1f282e;
    display: flex;
    justify-content: center;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 6.5rem;
}

.subHeading{
    color:#01175a;
    display: flex;
    justify-content: center;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 2.58rem;
}

.page-divider{
    display: flex;
    margin: 0;
    padding-left:-10px;
    padding-top: 0;
    padding-bottom: 0; 
    height:8rem;
    width: 4rem;

    
}

.page-border{
    width: 10%;
    padding-left: 2%;
    padding-right: 1.5rem;
    
}

.left{
    float:left;
}

.right{
    float:right;
}

.fixedImg{
    width: 100px;
    height: 550px;
    padding-bottom: 10px;
}

.page-border2{
    width: 10%;
    padding-left: 1.5rem;
    padding-right: 5%;
    display: block;
    unicode-bidi: isolate;

}

#title-h2{
    color:#02014e;
    margin: 0;
    padding-top: 3.25rem;
    padding-bottom: 2.01rem;
    /* padding-left: 1rem; */
    max-width: 35rem;
    font-size: 3.5rem;
    text-align: center;
}

.title-h2{
    margin: 0;
    padding-top: 3.25rem;
    padding-bottom: 2.01rem;
    max-width: 35rem;
    font-size: 3.5rem;
    text-align: center;
}

 
.picture{
    max-width:390px;
    height:auto;
    position:static;
    margin-top: 5rem;
    /* margin: 2rem auto; */
    border-radius: 20px;

}

.pic {
    max-width:390px;
    height:auto;
    position:static;
    margin-top: -2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.picture-div{
    overflow:hidden;
    margin: 2rem auto;
}

.assets1{
    margin:0;
    padding: 1rem;
    position:relative;
    bottom:0;
    height: 20rem;
    width:20rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem clamp(1rem,5vw,2rem);
    max-width: 1200px;
    margin: 0 auto;
    
}

   /* try grid*/
@media (max-width:768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 1rem;
    
        }
}

.container-past{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    


}

.container-future{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}

.container-comments{
    display:inline;
    justify-content: flex-start;
    max-width:75%;
    padding: 2rem auto;
    /* padding-left: 5%;
    padding-right: 2%;
     */
}



.abt-body{
    margin: 0;
    margin-top: -2.5rem;
    max-width: 45rem;
    text-align: left;
    flex-direction: column;
    font-family: Century Gothic, Helvetica, sans-serif;
    padding: clamp(2.5rem,2vw,6rem);
    font-size: clamp(1.5rem,5vw,1.5rem);

}

.body{
    margin: 0;
    padding-top: 80px;
    padding-bottom: 0;
    max-width: 37rem;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 1.25rem;
    text-align: left;
    padding: clamp(1.5rem, 2vw, 1rem);
}

.comments-body{
    margin: 1px;
    padding-left: 20rem;
    padding-right:20rem;
    padding-top: 2rem;
    /* max-width: ; */
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 1.20rem;
    line-height: 1.65rem;
    
}


.follow-me{
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0;
    max-width: 39rem;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 1.35rem;
    justify-content:center;
    text-align: center;
   transition-duration: 155ms;

}

.about-me-pg{
    color :aliceblue;
    text-decoration: none;
    font-family: Century Gothic, Helvetica, sans-serif;

}

.links{
    transition-duration: 155ms;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 1.25rem;
}

.links:hover, .links:active{
    color: #f1a71d;
    text-decoration: none;
    transform: scale(1.2,1.2);
    font-family: Century Gothic, Helvetica, sans-serif;
}

.linksIG{
    color:#02014e;
    transition-duration: 155ms;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 1.65rem;
}

.linksIG:hover, .linksIG:active{
    color: #f1a71d;
    text-decoration: none;
    transform: scale(1.2,1.2);
    font-family: Century Gothic, Helvetica, sans-serif;
}

#div-right{
    width: 50%;
    padding: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.navbar ul{
    float: right;
    margin-right: 50px;
}

#nav-abt-me{
    float: left;
}

.text-display{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    pointer-events: auto;
}


.imageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.imageGrid1 {
    display: grid;
    column-gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.icon-div {
    display: flex;
    justify-content: center;
}


.text-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    margin: auto;
    z-index: 1;
}

.txt-1{
    font-family: Century Gothic, Helvetica, sans-serif;
    color:#1f282e;
    text-align: center;
    list-style-position: inside;
}

.icons {
    padding-top: 2rem;
    padding-left: 15px;
    padding-bottom: 9px;
    transition-duration: 155ms;
    z-index: 2;
    margin: auto;
}

.icons:hover {
    transition-duration: 155ms;
    transform: scale(1.15,1.15);
}

.about-me-btn {
    font-size: 1.12rem;
    transition-duration: 155ms;
    display: inline-block;
    
    margin-left: 2rem;
    padding: 0.7rem 2.5rem;
    font-family: Century Gothic, Helvetica, sans-serif;
    
    color:aliceblue;
    background-color:#002d6c;
    
    border: 15px;
    border-radius: 999px;
}

.about-me-btn:hover, .about-me-btn:active {
    color: #ffb300;
    font-weight: bold;
    background-color:rgb(255, 255, 255);
    transition-duration: 155ms;
    transform: scale(1.15,1.15);
}

/* For the whole page */
html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

/* .card {
    /* add shadows 
    box-shadow: 4px -2px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: fit-content;
    /* background-color: #eff9f4; 
    
} */

.card {
    position: relative;
    width: 300px;
    height:300px;
    overflow: hidden;
    /* border: 1px solid #1e3988; */
    perspective: 1000px;
}

/* .card-in {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

} */

.card:hover .card-back {
    top: 0;
}

.card-front, .card-back {
    position:absolute;
    width: 100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.card-front {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    position: absolute;
    top:-100%;
    left: 0;
    width: 100%;
    height: 100%;
    
    background:#f6feff;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    transition: top 0.4s ease;
}

.image-wrapper {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

/* .image {
    width: 300px;
    /* max-width: 100%; 
    height: auto;
    border-radius: 2px;
    transition: filter 0.2s ease;
} */

/* .image:hover {
    filter: brightness(80%);
} */

/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
} */

.works-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
}

.works-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    text-align: center;
}

.txt-container {
  padding: 2px 16px;
}

.text {
    font-family: Century Gothic, Helvetica, sans-serif;
    color:#1f282e;
    text-align: center;
    list-style-position: inside;
}

/* img {
     border-radius: 5px 5px 0 0;
} */

.site-footer {
    width: 100%;
    background-color: #08244c;
    color: aliceblue;
    margin-top: 4rem;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-links a {
    margin-left: 1rem;
    color: aliceblue;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 1rem;
    transition: 0.2s ease;
}

.footer-links a:hover {
    color: #f1a71d;
}

.text-foot {
    font-family: Century Gothic, Helvetica, sans-serif;
    color:#eff3f5;
    text-align: center;
    list-style-position: inside;
}